<main>
  {% for feature in site.features %}
    <hr id='{{ feature.id }}'>

    <section>
      {% if feature.image != null %}
      <img class='{% cycle 'pull-right', 'pull-left' %}' src='{{ feature.image }}', width="500" height="500">
      {% elsif feature.plot != null %}
      {% else %}
      <p> No image and no plot </p>
      {% endif %} 
      <h2>{{ feature.heading }}<span>{{ feature.subheading }}</span></h2>
      <div class='lead'>{{ feature.content }}</div>
    </section>
  {% endfor %}

  <hr>
</main>