<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>To bee or not to bee</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


  <link rel="stylesheet" href="/assets/css/common.css?v=1.0">
  <link rel="stylesheet" href="/assets/css/world_beehives.css?v=1.0">

  
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <!-- attrs()  -->
  <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>

</head>

<body>

    <div id='world_beehives'>

      <svg id='world_beehives_svg' width = '1600' height='1000'>
      </svg>

      <div id='world_card' class='arrow_card' style="display: none">
      </div>
    </div>

  <script src="/assets/js/data.js"></script>
  <script src="/assets/js/world_beehives.js"></script>
</body>
</html>